<div class="container">
    <div class="row">
        <div class="col s9">
            <h3>Finalitzar compra<br>
                <small>{{checkoutCtrl.product.title}}</small></h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col l9">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li ng-show="visDadesClient">
                    <div class="collapsible-header active">
                        <i class="material-icons">more</i> Dades del client
                    </div>
                    <div class="collapsible-body">
                        <div style="margin:20px;">
                            <form name="clientForm" novalidate>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input ng-model="clientForm.user.name" id="cli-name" type="text" class="validate"  required>
                                        <label ng-class="{active:clientForm.user.name}" for="cli-name">Nom</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input ng-model="clientForm.user.lastname" id="cli-lastname" type="text" class="validate" required>
                                        <label ng-class="{active:clientForm.user.lastname}" for="cli-lastname">Cognoms</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input ng-model="clientForm.user.email" id="cli-email" type="email" class="validate" required>
                                        <label ng-class="{active:clientForm.user.email}" for="cli-email">E-mail</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons">more</i> Dades de facturació
                    </div>
                    <div class="collapsible-body">
                        <div style="margin:20px;">
                            <form name="facturationForm" novalidate>
                                <div class="row">
                                <div class="input-field col s6">
                                    <input ng-model="facturationForm.user.name" id="name" type="text" class="validate"  required>
                                    <label ng-class="{active:facturationForm.user.name}" for="name">Nom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input ng-model="facturationForm.user.lastname" id="lastname" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.lastname}" for="lastname">Cognoms</label>
                                </div>
                                <div class="input-field col s12">
                                    <input ng-model="facturationForm.user.address" id="address" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.address}" for="address">Adreça</label>
                                </div>
                                <div class="input-field col s4">
                                    <input ng-model="facturationForm.user.telephone" id="telf" type="number" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.telephone}" for="telf">Telèfon</label>
                                </div>
                                <div class="input-field col s4">
                                    <input ng-model="facturationForm.user.postalCode" id="postalcode" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.postalCode}" for="postalcode">Codi Postal</label>
                                </div>
                                <div class="input-field col s4">
                                    <input ng-model="facturationForm.user.city" id="city" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.city}" for="city">Ciutat</label>
                                </div>
                                <div class="input-field col s6">
                                    <input ng-model="facturationForm.user.province" id="province" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.province}" for="province">Província</label>
                                </div>
                                <div class="input-field col s6">
                                    <input ng-model="facturationForm.user.country" id="country" type="text" class="validate" required>
                                    <label ng-class="{active:facturationForm.user.country}" for="country">País</label>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons">payment</i> Mètodes de pagament
                    </div>
                    <div class="collapsible-body">
                        <div style="margin:20px;display:inline-block;">
                            <div class="input-field col s6">
                                <input ng-model="paymentMethod" name="paymentType" type="radio" id="paypalPayment" value="paypal"/>
                                <label for="paypalPayment"><img class="responsive-img" src="/img/paypalLogo.png"></label>
                            </div>
                            <div class="input-field col s6">
                                <input ng-model="paymentMethod" name="paymentType" type="radio" id="tpvPayment" value="card"/>
                                <label for="tpvPayment"><img class="responsive-img payMethod-active" src="/img/redsysLogo.jpg"></label>
                            </div>
                        </div>
                        <p class="grey-text text-darken-1">*Al clicar "Continuar", vostè serà redirigit/da a la plataforma de pagament sel·leccionada.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col l3">
            <price-card order="order" show-form="false" card-action="checkoutCtrl.sendAction()"></price-card>
        </div>
    </div>
</div>
<div id="login-modal" class="modal" style="width:40%">
    <div class="modal-content">
        <div class="row">
        <div class="col m12">
            <h4 class="center-align">Entra a Smarter Tourism per a continuar amb la compra</h4>
            <form name="loginForm" ng-submit="loginForm.$valid && checkoutCtrl.sendLoginForm()" novalidate>
                <div class="input-field col s12">
                    <input ng-model="loginForm.userMail" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input  ng-model="loginForm.userPassword" id="password" type="password" class="validate" required>
                    <label for="password">Contrasenya</label>
                </div>
                <div class="col s12">
                    <p>
                        <input ng-model="loginForm.remember" type="checkbox" id="remember" />
                        <label for="remember">Recorda'm</label>
                    </p>
                </div>
                <div class="input-field col s12">
                    <button ng-class="{disabled:!loginForm.$valid}" class="waves-effect waves-light btn right" type="submit" name="action">
                        Continuar
                    </button><br><br>
                    <p class="right right-align">No tens cap compte? <a href="/signin">Registra't!</a></p>
                    <br /><br />
                    <p class="right-align"><a href="#" class="cursor-pointer" ng-click="checkoutCtrl.continueWithoutAccount()">O segueix sense registrar-te.</a></p>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div id="redsys-form" class="hide"></div>
<script>
    $('.collapsible').collapsible({
        accordion : false
    });
</script>

