<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>SmarterTourism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div style="height:4em;"></div>
            <h3>Email confirmat!</h3>
            <p>Gràcies per confirmar el teu email. A continuació se't redirigirà a Smarter Tourism.</p>
        </div>
    </div>
</div>

<script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script>setTimeout(function(){ window.location = "/"; }, 3000);</script>

</body>