<pt-slider fullwidth="true" slider-height:"350" images=""></pt-slider>
<div class="container">
    <div class="row">
        <div class="col s9">
            <h3>
                {{activity.title}}
                <small style="font-size:50%; padding-left:0.5em;">
                    <a ng-href="/perfil/{{activity.seller._id}}">{{activity.seller.name}}</a>
                </small>
            </h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col l9 z-depth-1">
            <ul class="tabs" style="margin-top:22px;margin-bottom:30px">
                <li class="tab col s4"><a href="#info-basica">Informació Bàsica</a></li>
                <li class="tab col s4"><a href="#valoracions">Valoracions</a></li>
            </ul>
            <div id="info-basica" class="col s12">
                <div class="col s12">
                    <div class="section">
                        <h5>Descripció</h5>
                        <p>{{activity.description}}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Informació addicional</h5>
                        <p>{{activity.additional_info}}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Localització</h5>
                        <googlemap coordsx="{{activity.coords[0]}}" coordsy="{{activity.coords[1]}}"></googlemap>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Informació de contacte</h5>
                        <p><b>Telèfon: </b>{{activity.contact_telephone}}</p>
                        <p><b>Mail: </b>{{activity.contact_email}}</p>
                    </div>
                </div>
            </div>
            <div id="valoracions" class="col s12">
                <div class="col s12">
                    <div class="section">
                        <h5>Valoració mitja</h5>
                        <p>[valoració mitja per extrelles]</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Comentaris</h5>
                        <ul class="collection comment-list">
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3">
            <price-card order="order" show-form="true" card-action="detailActivityCtrl.sendAction(param)"></price-card>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>
