<pt-slider fullwidth="true" slider-height:"350" images=""></pt-slider>
<div class="container">
    <div class="row">
        <div class="col s9">
            <h3>{{pack.title}}</h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col l9 z-depth-1">
            <ul class="tabs" style="margin-top:22px;margin-bottom:30px">
                <li class="tab col s3"><a href="#info-basica">Informació Bàsica</a></li>
                <li class="tab col s3"><a href="#activitats">Activitats</a></li>
                <li class="tab col s3"><a href="#valoracions">Valoracions</a></li>
            </ul>
            <div id="info-basica" class="col s12">
                <div class="col s12">
                    <div class="section">
                        <h5>Descripció</h5>
                        <p>{{pack.description}}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Informació adicional</h5>
                        <p>{{pack.additional_info}}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Localització</h5>
                        <googlemap coords="{{pack.coords}}"></googlemap>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Informació de contacte</h5>
                        <p><b>Telèfon: </b>{{pack.contact_telephone}}</p>
                        <p><b>Mail: </b>{{pack.contact_email}}</p>
                    </div>
                </div>
            </div>
            <div id="activitats" class="col s12">
                <div class="col m3" ng-repeat="activity in pack.activitiesByPeriod.activities">
                    <activity-card activity="activity"></activity-card>
                </div>
            </div>
            <div id="valoracions" class="col s12">
                <div class="col s12">
                    <div class="section">
                        <h5>Valoració mitja</h5>
                        <p>[valoració mitja per extrelles]</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Comentaris</h5>
                        <ul class="collection comment-list">
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/img/users/John_Doe.jpg" alt="" class="circle responsive-img  z-depth-1">
                                <span>John Doe</span>
                                <p>Lorem ipsum dolor sit amet, dis ipsum morbi neque, lectus maecenas, amet non consequat ac mollis metus nullam. Amet vulputate et tincidunt, aenean massa dolor lectus vulputate vitae, sed sapien magna pretium facilisi dui quam. Sit quisque quisque vel sodales wisi, venenatis ullamcorper pulvinar odio sit morbi amet.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3">
            <price-card order="order" show-form="true" card-action="detailPackCtrl.sendAction(param)"></price-card>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>
