<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <h4>Entra a Smarter Tourism</h4>
        </div>
        <form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.sendForm()" novalidate>
            <div class="input-field col s12">
                <input ng-model="loginForm.userMail" id="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input  ng-model="loginForm.userPassword" id="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <button ng-class="{disabled:!loginForm.$valid}" class="waves-effect waves-light btn" type="submit" name="action">
                    Continuar
                </button>
            </div>
        </form>
    </div>
    <div class="row">
    </div>
</div>

