<div class="container">
    <div class="row">
        <div class="col l2 hide-on-med-and-down"><br></div>
        <div class="col l8 offset-l3 center-align">
            <h3>Comanda cancelada!<br></h3>
                <br>
            <div class="card red lighten-5">
                <div class="card-content white-text">
            <span class="card-title red-text darken-3"><i class="material-icons">report_problem</i>
                La transacció no s'ha pogut realitzar.</span>
                </div>
            </div>
            <br>
            La transacció ha estat cancelada o hi ha hagut algun error al dur-la a terme. No s'ha realitzat cap recàrrec a la targeta o mètode de pagament que has introduït. Si vols continuar amb la compra, pots tornar a intentar-ho
            <a href="/checkout">tornant enrere</a>.
            <br><br>
            Gràcies per confiar en nosaltres.
            <br><br>
            <div class="center-align">
                <a href="/" class="waves-effect waves-light btn">Tornar a l'inici</a>
            </div>
        </div>
    </div>
</div>

