<div class="container">
    <div class="row">
        <div class="col s11">
            <h3>Detalls de la reserva<br>
            <small>{{order.title}} el {{order.date | date: "dd-MM-yy"}}</small></h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col l9">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">group</i> Nombre de persones</div>
                    <div class="collapsible-body">
                        <div style="margin:20px;">
                            <div class="col s12">
                                Quantes persones viatjareu?
                            </div>
                            <div class="input-field col s4">
                                <input ng-model="order.numAdults" id="numAdults"
                                       type="number" class="validate" min="0" max="99" required>
                                <label ng-class="{active:order.numAdults}" for="numAdults">Adults</label>
                            </div>
                            <div class="input-field col s4">
                                <input ng-model="order.numChildren" id="numNens"
                                       type="number" class="validate" min="0" max="99">
                                <label ng-class="{active:order.numChildren}" for="numNens">Nens (2-12 anys)</label>
                            </div>
                            <div class="input-field col s4">
                                <input ng-model="order.numBabies" id="numInfants"
                                       type="number" class="validate" min="0" max="99">
                                <label ng-class="{active:order.numBabies}" for="numInfants">Infants (0-2 anys)</label>
                            </div>
                            <br>
                            <p></p>
                        </div>
                    </div>
                </li>
                <li ng-show="visVariations"> <!-- ng-if="product.variations.length > 1" -->
                    <div class="collapsible-header"><i class="material-icons">mode_edit</i> Personalitza les activitats</div>
                    <div class="collapsible-body">
                        <div style="margin:20px;display:inline-block;">
                            <div class="col s12">
                                Complementa{{product.variations.length}} les activitats amb les variacions que vulguis. Prem sobre les variacions per veure'n una descripció detallada:<br><br>
                            </div>
                            <div class="col s12" ng-repeat="product in products">
                                <b>{{product.title}}</b>
                                <div class="row">
                                    <div class="col s6" ng-repeat="variation in product.variations">
                                        <span ng-init="showVariations(product.variations.length)"></span>
                                        <activity-variation-card variation="variation" activity="product._id" card-action="orderDetailsCtrl.variationSelect(param)" selected="order.selectedVariations[product._id]._id == variation._id" type="variation"></activity-variation-card>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </li>
                <li ng-show="visExtras"> <!-- ng-if="product.extras.length > 0" -->
                    <div class="collapsible-header"><i class="material-icons">weekend</i> Extres</div>
                    <div class="collapsible-body">
                        <div style="margin:20px;display:inline-block;">
                            <div class="col s12">
                                Vols contractar alguna opció extra en alguna de les activitats?
                                A continuació es mostraran els extres disponibles:<br><br>
                            </div>
                            <div class="col s12" ng-repeat="product in products">
                                <b>{{product.title}}</b>
                                <div class="row">
                                    <div class="col s6" ng-repeat="extra in product.extras">
                                        <span ng-init="showExtras()"></span>
                                        <activity-variation-card variation="extra" activity="product._id" card-action="orderDetailsCtrl.extrasSelect(param)" unselect-action="orderDetailsCtrl.unselectExtra(param)" selected="extraInArray(order.selectedExtras[product._id], extra._id)" type="extra"></activity-variation-card>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>
            <button ng-click="orderDetailsCtrl.sendAction()" class="waves-effect waves-light btn" type="submit" name="action" style="width: 100%;">
                <span>Continuar</span><span class="loading hidden">Enviant<span class="hidden">.</span><span class="hidden">.</span><span class="hidden">.</span></span>
            </button>
        </div>
        <div class="col l3">
            <price-card order="order" show-form="false" card-action="orderDetailsCtrl.sendAction()"></price-card>
        </div>
    </div>
</div>
<script>
    $('.collapsible').collapsible({
        accordion : false
    });
</script>
