<div class="container">
    <div class="row">
        <div class="col s4 right right-align">
            <br><br>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Buscar paquets</a>
        </div>
    </div>
    <div class="row" ng-hide="search || catselected">
        <div class="col s12">
            <h3>Els més destacats:</h3>
        </div>
        <pt-spinner ng-if="!packs" class="col m12 center-align"></pt-spinner>
        <div class="col m4" ng-repeat="pack in packs | limitTo:3" ng-if="pack.featured">
            <pack-card pack='pack'></pack-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <br ng-if="!search"><br ng-if="!search">
            <h3>Tots els paquets:</h3>
        </div>
        <pt-spinner ng-if="!packs" class="col m12 center-align"></pt-spinner>
        <div class="col m4" ng-repeat="pack in Packs = (packs | orderBy:'title' | filter: search | filter: filtrarCategories() | limitTo:10:ptPaginatorCtrl.numPag*10)" ng-init="ptPaginatorCtrl.numElem = Packs.length" >
            <pack-card pack='pack'></pack-card>
        </div>
        <span ng-if="!Packs.length">No s'ha trobat cap paquet.</span>
        <pt-paginator></pt-paginator>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" style="overflow-y: initial;max-height: 60%;" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Buscar Paquets</h4>
        <div class="row">
            <form>
                <div class="input-field col m6">
                    <input id="last_name" type="text" class="validate" ng-model="search">
                    <label for="last_name">Nom del paquet</label>
                </div>
                <div class="input-field col m6">
                    <categories-select></categories-select>
                </div>
            </form>
            <!--<div class=" col s12">
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Buscar</a>
                </div>
            </div>-->
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });
</script>

