<div class="container">
    <div class="row">
        <div class="col s4 right right-align">
            <br><br>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Buscar activitats</a>
        </div>
    </div>

    <div class="row" ng-hide="search || catselected">
        <div class="col s12">
            <h3>Activitats destacades:</h3>
        </div>
        <pt-spinner ng-if="!activities" class="col m12 center-align"></pt-spinner>
        <div class="col m2" ng-repeat="activity in activities | limitTo:3" ng-if="activity.featured">
            <activity-card activity='activity'></activity-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <br ng-if="!search"><br ng-if="!search">
            <h3>Totes les activitats:</h3>
        </div>
        <pt-spinner ng-if="!activities" class="col m12 center-align"></pt-spinner>
        <div class="col m2" ng-repeat="activity in Activities = (activities | orderBy:'title' | filter: search | filter: filtrarCategories() | limitTo:10:ptPaginatorCtrl.numPag*10)" ng-init="ptPaginatorCtrl.numElem = Activities.length">
            <activity-card activity='activity'></activity-card>
        </div>
        <span ng-if="!Activities.length">No s'ha trobat cap activitat.</span>
        <pt-paginator></pt-paginator>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" style="overflow-y: initial;max-height: 60%;" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Buscar activitats</h4>
        <div class="row">
            <form>
                <div class="input-field col m6">
                    <input id="last_name" type="text" class="validate" ng-model="search">
                    <label for="last_name">Nom del paquet</label>
                </div>
                <div class="input-field col m6">
                    <categories-select></categories-select>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });
</script>

