<div style="background:url('/img/parallax2.jpg');height:800px;opacity:0.8;">
    <div class="container">
        <div class="row">
            <div class="hide-on-small-only" style="height: 2em"></div>
            <div class="col m3"><br> </div>
            <div class="col m6 z-depth-1 cyan lighten-5" style="padding:20px;border-radius:5px;">
                <div ng-hide="isLogged">
                    <h4 class="center-align">Dona't d'alta a Smarter Tourism</h4>
                    <form name="signinForm" ng-submit="signinForm.$valid && signInCtrl.sendForm()" novalidate>
                        <div class="input-field col s12">
                            <input ng-model="signinForm.email" id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input  ng-model="signinForm.name" id="name" type="text" class="validate" required>
                            <label for="name">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input  ng-model="signinForm.lastname" id="lastname" type="text" class="validate" required>
                            <label for="lastname">Cognoms</label>
                        </div>
                        <div class="input-field col s12">
                            <input  ng-model="signinForm.password" ng-minlength="8" id="password" type="password" class="validate" required>
                            <label for="password">Contrasenya</label>
                            <span class="red-text" ng-show="signinForm.$error.minlength">La contrasenya és massa curta.</span>
                        </div>
                        <div class="col s12">
                            <p>
                                <input ng-model="signinForm.userTerms" type="checkbox" id="user-terms" required>
                                <label for="user-terms">He llegit i accepto els <a href="/termes-us">termes d'ús</a></label>
                            </p>
                        </div>
                        <div class="input-field col s12">
                            <button ng-class="{disabled:!signinForm.$valid}" class="waves-effect waves-light btn right" type="submit" name="action">
                                Continuar
                            </button><br><br>
                            <p class="right right-align">Ja tens compte? <a href="/login">Entra-hi!</a></p>
                        </div>
                    </form>
                </div>
                <div ng-show="isLogged">
                    <h4 class="center-align">T'has registrat correctament!</h4>
                    <p style="padding:1em 0em 1em 0em">Gràcies per registrar-te a Smarter Tourism.
                        En breus rebràs un correu electrònic perquè confirmis el teu email.<br><br>
                        Abans de començar a utilitzar l'aplicació, ens agradaria saber una mica més de tu.
                        Pots començar per omplir el teu perfil.<br>
                    </p>
                    <div class="center-align">
                        <a href="/perfil" class="waves-effect waves-light btn">Anar al teu perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

