<div class="container">
    <div class="row">
        <div class="col l2 hide-on-med-and-down"><br></div>
        <div class="col l8 offset-l3 center-align">
            <h3>Compra finalitzada!<br></h3>
                <br>
            <div class="card green lighten-5">
                <div class="card-content white-text">
            <span class="card-title green-text darken-3"><i class="material-icons green-text">done</i>
                Transacció completada amb èxit</span>
                </div>
            </div>
            <br>
            En breus rebràs un email amb la confirmació de la teva reserva. Per a consultar l'estat de les reserves, ho pots fer anant a l'apartat
            <a href="/comandes">les teves comandes </a>.
            <br><br>
            Gràcies per confiar en nosaltres. Bon viatge!
            <br><br>
            <div class="center-align">
                <a href="/" class="waves-effect waves-light btn">Tornar a l'inici</a>
            </div>
        </div>
    </div>
</div>

