<div class="container">
    <br>
    <div class="row">
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="/img/users/placeholder.png">
                </div>
                <div class="card-content">
                    <h3 class="inline-block">{{ profile.name }} {{ profile.lastname }}
                        <a ng-if="yourProfile" href="/perfil/edit"><i class="material-icons right cursor-pointer">settings</i></a></h3>

                    <div class="grey-text text-darken-1">
                        <div ng-if="profile.role == 'Client'">
                            <h6 ng-if="profile.contactInfo.address"><i class="tiny material-icons">store</i>&nbsp;{{profile.contactInfo.address}}</h6>
                            <h6 ng-if="profile.contactInfo.town"><i class="tiny material-icons">my_location</i>&nbsp;{{profile.contactInfo.postalCode}} {{profile.contactInfo.town}}</h6>
                            <h6 ng-if="profile.contactInfo.phone"><i class="tiny material-icons">call</i>&nbsp;profile.contactInfo.phone</h6>
                            <h6 ng-if="profile.contactInfo.web"><i class="tiny material-icons">language</i>&nbsp;profile.contactInfo.web</h6>
                        </div>
                        <div ng-if="profile.role == 'Provider'">
                            <h6 ng-if="profile.businessInfo.name"><i class="tiny material-icons">domain</i>&nbsp;{{profile.businessInfo.name}}</h6>
                            <h6 ng-if="profile.businessInfo.nif"><i class="tiny material-icons">info</i>&nbsp;{{profile.businessInfo.nif}}</h6>
                            <h6 ng-if="profile.businessInfo.raosocial"><i class="tiny material-icons">group</i>&nbsp;{{profile.businessInfo.raosocial}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m8" ng-if="yourProfile">
            <div class="card teal" ng-if="!hideConfirmationMail && profile.state == 'Unconfirmed'">
                <div class="white-text card-content">
                    <span class="alert-card-text">El teu compte no està confirmat. T'hem enviat un mail de confirmació a {{ profile.email }}.</span>
                    <i class="material-icons right cursor-pointer" ng-click="hcm()">close</i>
                </div>
            </div>
            <div class="row">
                <pt-spinner ng-if="!orders" class="col m12 center-align"></pt-spinner>
            </div>
            <div class="blankslate" ng-show="orders.length == 0">
                <span>Encara no has comprat cap paquet.</span>
            </div>
            <div ng-show="orders.length > 0">
            <h3 class="inline-block">Últimes comandes</h3>&nbsp;
            <a href="/comandes" class="inline-block">Veure-les totes</a>
            <ul class="collapsible" data-collapsible="accordion">
                <li ng-repeat="order in orders | limitTo: 3">
                    <div class="collapsible-header">
                        <i class="material-icons">receipt</i>
                        {{ order.title }}
                    </div>
                    <div class="collapsible-body">
                        <div style="padding: 2rem">
                            <i class="tiny material-icons align">perm_identity</i>
                            {{ order.numAdults }} adults
                            <span ng-show="numChildren > 0">, {{ order.numChildren }} nens</span>
                            <span ng-show="numBabies > 0">, {{ order.numBabies }} bebès</span>.<br>

                            <i class="tiny material-icons align">today</i> {{ order.dateOfOrder }}<br>

                            <i class="tiny material-icons align">credit_card</i> {{ order.finalPrice }}€<br>

                            <i class="tiny material-icons align">info_outline</i> Estat: {{ order.state }}<br>
                            <br>
                            <b>Comentaris</b>
                            <ul class="collection">
                                    <li class="collection-item avatar" ng-repeat="comment in order.comments">
                                        <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                                        <i class="material-icons circle">folder</i>
                                        <b class="title">{{ comment.user }}</b><br>
                                        <span>{{ comment.comment }}</span>
                                    </li>
                            </ul>
                            <form>
                                <div class="row">
                                    <div class="input-field col m12">
                                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                                        <label for="textarea1">Deixa un comentari</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>

