nav {
    background-color: #5B9AD3;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.packet-card {
    padding:15px!important;
}

.packet-card span.card-title {
    /*font-size: 20px;
    font-weight: 400;*/
    display:block;
    line-height: 27px!important;
    height: 54px;
    overflow: hidden;
}

div.more-packet-info {
    width:100%;
    position:absolute;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.4);
}

.more-packet-info p{
    padding:7px 15px 7px 15px;
    line-height:0px;
    color:#FFFFFF;
}

@media only screen and (min-width : 993px){
    .container{
        width:77%;
    }
}

#googleMap {
    width:100%;
    height:300px;
}

.activity-link > p{
    color:#039be5;
    transition:color 0.8s;
}

.activity-link:hover p {
    color: #222222;
}

.text-divider {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.comment-list {
    border:0px;
}

.comment-list > li {
    padding-left: 110px!important;
    border-bottom: 0px!important;
    margin-bottom: 30px!important;
}

.comment-list > li > img {
    width:80px!important;
    height:auto!important;
}
.comment-list > li > span {
    font-size:19px;
}