<div class="col s12 right-align">
    <ul class="pagination">
        <li ng-class="(ptPaginatorCtrl.numPag > 0) ? waves-effect : 'disabled'" ng-click="ptPaginatorCtrl.prevPage()"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect" ng-click="ptPaginatorCtrl.setPage($index)"><a href="#!">{{$index+1}}</a></li>
        <li ng-class="(ptPaginatorCtrl.numPag*10 > ptPaginatorCtrl.numElem) ? waves-effect : 'disabled'" ng-click="ptPaginatorCtrl.nextPage()"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>